@import "colors.css";

* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgba(0, 0, 0, 0);
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 24px;
  margin-right: 8px;
  margin-top: 3px;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @primary;
}

window#waybar.hidden {
  opacity: 1;
}

window#waybar.empty #window {
  background: rgba(12, 12, 12, 0);
  border: none;
}

window#waybar.empty {}

window#waybar.solo {}

window#waybar.termite {
  background-color: #000000;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding-left: 4px;
  padding-right: 4px;
  /* Use box-shadow instead of border so the text isn't offset /
  box-shadow: inset 0 -3px transparent;
  / Avoid rounded borders under each workspace name */
  background-color: transparent;
  color: @primary;
}

#workspaces button.active {
  box-shadow: inset 0 -3px @primary;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #ffffff;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#custom-barlogo {
  padding-left: 14px;
  padding-right: 16px;
  border-radius: 32px;
  color: @primary;
  background-color: @surface;
  border: 2px solid @primary;
  font-size: 16;
}

#cpu,
#memory,
#mpris,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mpd,
#window,
#workspaces {
  font-size: 14px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 32px;
  margin-left: 3px;
  margin-right: 3px;
  color: @primary;
  background-color: @surface;
  border: 2px solid @primary;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  color: #ffffff;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#battery {}

#battery.charging,
#battery.plugged {
  color: #e98d8e;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: #f53c3c;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#tray {
  color: #e98d8e;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
