@import url('colors.css');
/*
*{
  background: @window_bg_color;
}


.folder{
  color: @accent_color
}

.symbolic-icon{
  color: @accent_color
}

listview row {
    background-color: transparent; /* Default background for rows */
}

listview row:hover {
    background-color: #d3d3d3; /* Background color on hover */
    color: #000000; /* Text color on hover */
}

*/
