@import url('colors.css');
/*
* {
  background: @window_bg_color;
  color: #FFFFFF
}

.button {
  background: @accent_color;
  color: #FFFFFF
}

treeview row:selected{}

  background-color: @accent_color;
}

list {
  display: block;
}
list-row:selected{
  background-color:@accent_color;
  color: #ffffff;
}

list row:selected  {
  background-color: @accent_color;
  color: white;
  padding: 5px;
  margin: 0;
  border: none;
}

box:selected{
  background-color: @accent_color;
}

list row:selected label {
  background-color: @accent_color;
  color: white;
 
}
.label_widget{
  background-color: @accent_color;
}
#GTKImage-start_icon_widget{
background: @accent_color;
}

.box-class{
color: @accent_color;

}*/
